/* This file is for your main application CSS */
@import "./phoenix.css";

.index-container {
  display: flex;
  justify-content: space-between;
  gap: 100px;
}
.index-container div {
  width: 100%;
  text-align: center;
}
.new_game {
  border-left: solid 1px lightgray;
}
